.find-wrapper {
  width: 100%;
  height: 100%; /* 전체 화면 높이 */
  box-sizing: border-box;
  overflow: hidden;
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 배치 */
  background-color: #eee1d0;
}
.Findtt {
  display: flex;
  width: 100%;
  height: 9%;
  /* background-color: #f1d7ae; */
  background-color: #d1beb0ee;
  align-content: center;
  align-items: center;
  /* box-shadow: white 1px 1px 1px 3px; */
}

.Findtt2 {
  width: 50%;
  text-align: left;
  margin-left: 30px;
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 40px;
  color: #a78f7eee;
  text-shadow: 5px 5px white;
  background-color: #ebd5c5ee;
}

.Findtt3 {
  width: 50%;
  text-align: right;
  margin-right: 30px;
  font-family: "Ownglyph_UNZ-Rg";
  font-size: 26px;
  font-weight: 200px;
  color: #a69080;
}

.Findtt4 {
  width: 100%;
  text-align: left;
  height: 10%;
  font-family: "Ownglyph_UNZ-Rg";
  align-items: center;
  align-content: center;
  margin-left: 2%;
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 70px;
}

#find-form {
  align-content: center;
  width: 90%;
  max-width: 650px; /* 최대 너비 설정 */
  height: 50%;
  min-height: 600px;
  align-content: center;
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 배치 */
  background-color: #a0704b4b;
  box-shadow: 10px 10px #ceb8a9c2;
  border-radius: 50px;
  margin-top: 5%;
}

.find-form-mom {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#Find_Title {
  font-size: 60px;
  /* margin-bottom: 10%; */
  font-style: normal;
  color: #946c37;
  text-align: center;
  /* font-family: "Ownglyph_ryurue-Rg"; */
  font-family: "Cafe24Meongi-W-v1.0";
  margin-left: 4%;
  font-weight: lighter;
  text-shadow: 1px 1px #e4cfbe;
  margin: 1%;
}

.Find_text1,
.Find_text2,
.Find_text3 {
  width: 100%;
  margin-top: 3.3rem;
  display: flex;
  flex-direction: row;
  /* height: auto; */
  align-items: center;
  box-sizing: border-box;
  width: 100%; /* 부모 요소의 너비에 맞춤 */
}

.Find_text4 {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  /* height: auto; */
  align-items: center;
  box-sizing: border-box;
  width: 100%; /* 부모 요소의 너비에 맞춤 */
}

.find_text_title {
  /* display: flex; */
  width: 30%; /* 부모 요소의 너비에 맞춤 */
  /* margin-bottom: 1%; */
  box-sizing: border-box;
  text-align: center;
  /* font-family: "Ownglyph_ryurue-Rg"; */
  font-family: "insungitCutelivelyjisu";
  color: #8b785e;
  font-size: 30px;
}

#FindEmail,
#FindName,
#FindBirth {
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  height: 50px; /* 고정 높이 */
  border-radius: 15px;
  min-width: 200px; /* 최소 너비 설정 */
  max-width: 400px; /* 최대 너비 설정 */
  border: 3px solid #9b89727e;
  background-color: #fdf8f0;
}

.Find_button {
  width: 50%;
  text-align: left;
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 25px;
  border: none;
  background-color: #d1beb0ee;
  cursor: pointer;
}
#Findbutton {
  background-color: #d6d0b7;
  border-radius: 50px;
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  max-width: 200px; /* 최대 너비 설정 */
  margin: 10px 0 10px 10px; /* 상하 간격 추가 */
  height: 50px;
  cursor: pointer;
  /* margin-top: 20px; */
  /* font-family: "Ownglyph_ryurue-Rg"; */
  font-family: "insungitCutelivelyjisu";
  font-size: 25px;

  text-align: center;
  border: 2px solid #8b7959;
}

#Findbutton:hover {
  background-color: #d1c496;
  transition-duration: 0.5s;
  margin-left: 2px;
  margin-top: 2px;
  box-shadow: 5px 5px #dbcbaf;
}

#fullName {
  width: 50%;
  /* font-family: "Ownglyph_ryurue-Rg"; */
  font-family: "insungitCutelivelyjisu";
  font-size: 25px;
  margin-left: 6%;
  border-radius: 50px;
  background-color: #f1e2ab;
  /* border: 2px solid #baab9f; */
  /* box-shadow: 3px 3px #a29d81db; */
  padding: 15px;
  cursor: pointer;
  border: none;
}

#fullName:hover {
  background-color: #f5db80;
  transition-duration: 0.6s;
}

#fullName::placeholder {
  color: #676654;
}

#email {
  width: 50%;
  /* font-family: "Ownglyph_ryurue-Rg"; */
  font-family: "insungitCutelivelyjisu";
  /* font-family: "bitbit"; */
  font-size: 25px;
  margin-left: 6%;
  border-radius: 50px;
  background-color: #f1e2ab;
  /* border: 2px solid #baab9f; */
  /* box-shadow: 3px 3px #a29d81db; */
  padding: 15px;
  cursor: pointer;
  border: none;
}

#email::placeholder {
  color: #676654;
}

#email:hover {
  background-color: #f5db80;
  transition-duration: 0.6s;
}

#birthDate {
  width: 50%;
  /* font-family: "Ownglyph_ryurue-Rg"; */
  font-family: "insungitCutelivelyjisu";
  font-size: 22px;
  margin-left: 6%;
  border-radius: 50px;
  background-color: #f1e2ab;
  border: none;
  /* border: 2px solid #baab9f; */
  /* box-shadow: 3px 3px #a29d81db; */
  padding: 15px;
  cursor: pointer;
}

#birthDate:hover {
  background-color: #f5db80;
  transition-duration: 0.6s;
}
