.login-wrapper {
  width: 100%;
  height: 100%; /* 전체 화면 높이 */
  box-sizing: border-box;
  overflow: hidden;
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 배치 */
  background-color: #f1d1d26e;
}

#login-form {
  align-content: center;
  width: 100%;
  max-width: 700px; /* 최대 너비 설정 */
  height: 65%;
  min-height: 600px;
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 배치 */
  background-color: #f1e4ac48;
  box-shadow: 7px 7px rgba(146, 103, 11, 0.158);
  /* box-shadow: 10px 10px; */
  border-radius: 10px;
  margin-top: 5%;
}

#Login_Title {
  font-size: 50px;
  font-style: normal;
  color: #d79999;
  text-align: center;
  font-family: "Ownglyph_UNZ-Rg";
  margin-left: 6%;
}

.Login_text1,
.Login_text2 {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%; /* 부모 요소의 너비에 맞춤 */
}

.Login_text_title {
  display: flex;
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: left;
  margin-left: 43%;
  font-family: "Ownglyph_UNZ-Rg";
  font-size: 22px;
}

#LoginEmail,
#LoginPs {
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  height: 50px; /* 고정 높이 */
  border-radius: 15px;
  min-width: 200px; /* 최소 너비 설정 */
  max-width: 400px; /* 최대 너비 설정 */
  border: 3px solid #9b89727e;
  background-color: #fdf8f0;
}

#login-form > input::placeholder {
  color: #d2d2d2;
}

#login-form > input[type="submit"] {
  color: #fff;
  font-size: 16px;
  background-color: #ccd3ca;
  margin-top: 20px;
}

#login-form > input[type="checkbox"] {
  display: none;
}

#login-form > label {
  color: #999999;
}

#login-form input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 26px;
  background-repeat: no-repeat;
  background-size: contain;
}

#login-form input[type="checkbox"]:checked + label {
  background-repeat: no-repeat;
  background-size: contain;
}

.error-message {
  display: flex;
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  margin-top: 10px;
  box-sizing: border-box;
  text-align: left;
  color: red; /* 오류 메시지를 강조하기 위해 색상을 빨간색으로 설정 */
  margin-left: 43%;
}

#Login_button {
  background-color: #f1d1d2;
  border-radius: 30px;
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  max-width: 200px;
  margin: 10px 0 10px 10px;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
  font-family: "Ownglyph_UNZ-Rg";
  font-size: 25px;
  text-align: center;
  border: solid 5px rgba(255, 192, 203, 0.185);
}

#Login_button2,
#Login_button3 {
  background-color: #f1d1d2;
  border-radius: 20px;
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  max-width: 200px; /* 최대 너비 설정 */
  margin: 10px 0 10px 10px; /* 상하 간격 추가 */
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  font-family: "Ownglyph_UNZ-Rg";
  font-size: 20px;
  border: none;
  text-align: center;
  border: solid 5px rgba(255, 192, 203, 0.185);
}

.Login_find {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Logintt {
  display: flex;
  width: 100%;
  height: 8%;
  background-color: #ecb9b9;
  align-content: center;
  align-items: center;
}

.Logintt2 {
  width: 50%;
  text-align: left;
  margin-left: 30px;
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 25px;
}

.Logintt3 {
  width: 50%;
  text-align: right;
  margin-right: 30px;
  font-family: "Ownglyph_UNZ-Rg";
  font-size: 23px;
  font-weight: 200px;
}

.login-form-mom {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#Login_button:hover {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  box-shadow: 0 0 40px 40px #fababaf6 inset; /* $red 대신 red로 대체 */
}

#Login_button2:hover {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  box-shadow: 0 0 40px 40px #fababaf6 inset; /* $red 대신 red로 대체 */
}

#Login_button3:hover {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  box-shadow: 0 0 40px 40px #fababaf6 inset; /* $red 대신 red로 대체 */
}
