.freinds-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 모달을 가장 위에 표시 */
}

.freinds-modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 80%;
  height: 70%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-close-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.friends_title_baby1 {
  width: 50%;
  text-align: left;
  font-size: 20px;
  margin-left: 8px;
  margin-top: 8px;
}

.friends_title_mom {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 7%;
  border-bottom: solid 3px black;
}

.friends_title_baby2 {
  width: 50%;
  text-align: right;
  margin-right: 8px;
  margin-top: 8px;
}

.friends_catalog {
  align-content: center;
  text-align: left;
  margin-left: 2%;
  height: 7%;
  width: 50%;
}
.friends_catalog_mom {
  display: flex;
  width: 100%;
  height: 100%;
}

.friends_catalog_son {
  display: flex;
  height: 13%;
  width: 100%;
  align-items: center;
}

.friends_catalog_button {
  text-align: right;
  width: 50%;
  margin-right: 2%;
  height: 100%;
  align-content: center;
  margin-top: 5%;
}

.friends_catalog {
  display: flex;
  width: 50%;
  height: 100%;
  align-content: center;
  align-items: center;
  margin-top: 5%;
}

.freinds_catalog_pic {
  width: 30%;
  border-radius: 50%;
  height: 100%;
  margin-right: 5%;
}
