.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalform {
  display: flex;
}

.modal-content {
  font-family: "Ownglyph_ryurue-Rg";
  font-size: 1.25em; /* 상대적인 글꼴 크기 */
  background-color: #f9dddd;
  margin: auto;
  padding: 2em;
  border: 0.5em ridge #e6b7b7;
  border-radius: 10%;
  width: 30%;
  max-width: 600px; /* 최대 너비를 설정하여 큰 화면에서도 적절하게 표시되도록 합니다 */
  height: auto;
  min-height: 400px;
  box-sizing: border-box; /* 패딩과 테두리를 요소의 전체 너비와 높이에 포함시킵니다 */
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalform {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-control {
  width: 100%;
  height: 100%;
  margin-top: 5px; /* 입력 필드와 라벨 사이의 간격을 추가합니다 */
  font-family: "Ownglyph_ryurue-Rg";
}

.col-form-label {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 30px;
}

.schedule {
  height: 100%;
}
.modalform input {
  width: 100%; /* 입력 필드의 너비를 100%로 설정하여 부모 요소의 너비에 맞추도록 합니다 */
  height: 45px; /* 입력 필드의 높이를 설정합니다 */
  padding: 10px; /* 입력 필드의 패딩을 추가합니다 */
  font-size: 20px; /* 입력 필드의 텍스트 크기를 설정합니다 */
  margin-top: 5px; /* 입력 필드와 라벨 사이의 간격을 추가합니다 */
  box-sizing: border-box; /* 패딩과 테두리가 요소의 전체 너비와 높이에 포함되도록 합니다 */
}
.modalform label {
  margin-bottom: 20px; /* 라벨 사이의 간격을 추가합니다 */
  padding: 10px 0; /* 라벨의 세로 패딩을 추가합니다 */
  font-size: 23px; /* 라벨 텍스트 크기 (기본값) */
  line-height: 1.5; /* 줄 높이 조정 */
}

/* button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
} */

/* button:hover {
  background-color: #45a049;
} */

.modal-buttons {
  text-align: center;
  margin: 10px;
}

.modal-buttons button {
  background-color: #e6b7b7;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  /* font-family: "Ownglyph_UNZ-Rg"; */
  font-family: "Ownglyph_ryuttung-Rg";
  font-size: 18px;
}

.modal-buttons button:hover {
  border-color: #e6b7b7;
  color: white;
  box-shadow: 0 0.6em 0.6em -0.4em #ecd1d1;
}

/* .form-control {

} */

.coloroption {
  height: 50px;
  padding: 20px; /* 더 나은 외관을 위한 패딩 추가 */
  font-size: 25px; /* 글자 크기 조정 */
  background-color: #f0f0f0; /* 배경색 조정 */
}

#color.form-control {
  font-size: 23px;
}
