header {
  width: 100%;
}
.Mainbody-mom {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #e7e2cc;
  align-items: center;
  justify-content: center;
}

.Mainbody {
  display: flex;
  width: 95%;
  height: 90%;
  overflow: hidden;
  background-color: #faeee9d0;
  border-radius: 30px;
  align-items: center;
}

.menu_wrapper {
  display: flex;
  width: 20%;
  height: 100%;
  align-content: center;
  background-color: #faeee9d0;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78%;
  height: 100%;
  background-color: #f4ede3;
  margin-top: 3%;
}

.left_container1 {
  width: 100%;
  height: 30%;
  margin-top: 20%;
  margin-bottom: 20%;

  /* border-radius: 8px; */
}
.left_container_mom {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  justify-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: white;
  margin-top: 20%;
  align-content: flex-start;
}

.left_container2 {
  width: 100%;
  height: 70%;

  /* border-radius: 8px; */
}
/* .setting-icon {
  display: flex;
  border: none;
  font-size: 20px;
  background-color: transparent;
} */

.profile-picture {
  width: 80%;
  height: 30%;
  margin-top: 5%;
  padding: 0;
  border-radius: 50%;
}

.nickname {
  color: #6c5d53;
  font-size: 20px;
  padding: 6px 0;
  font-family: "IM_Hyemin-Bold";
}

.date {
  color: #6c5d53;
  font-size: 11px;
  padding: 5px 0;
}

.content-placeholder {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* 중앙정렬 */
  position: relative;
  width: 70%;
  box-sizing: border-box;
  /* background-color: gray; */
}

.JUJU {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100px;
  font-family: "Inspiration", cursive;
  color: #d79999;
  font-size: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container {
  width: 10%;
}

.content_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.left_container1 > img {
  align-content: center;
  justify-content: center;
  width: 10px;
}

.setting-icon-div {
  display: flex;
  flex-direction: row;
  height: 13%;
  width: 100%;
  margin-left: 8%;
}

.profile-info {
  width: 80%;
  margin: auto;
  border: 3px solid #6c5d53;
  box-shadow: 3px 3px #d79999;
  border-radius: 5%;
}

#profile-img {
  width: 60%;
  height: 65%;
}

.left_container2_baby {
  height: 10%;
  text-align: left;
  margin-left: 10%;
}
.mainIcon {
  font-size: 20px;
}

.left_container2_logout {
  border-top: solid 1px #d79999;
  margin-right: 10%;
  margin-top: 30%;
  height: 30%;
}

.mainCategory {
  cursor: pointer;
}
