header {
  width: 100%;
}

.Mainbody {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f4ede3;
}

.menu_wrapper {
  width: 20%;
  height: 100%;
  align-content: center;
  background-color: beige;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  background-color: #f4ede3;
}

.left_container1 {
  width: 100%;
  height: 70%;
  background-color: #fffbf9d0;
  /* border-radius: 8px; */
}

.left_container2 {
  width: 100%;
  height: 30%;
  background-color: #fffbf9d0;
  /* border-radius: 8px; */
}
/* .setting-icon {
  display: flex;
  border: none;
  font-size: 20px;
  background-color: transparent;
} */

.profile-picture {
  width: 80%;
  height: 30%;
  margin-top: 5%;
  padding: 0;
  border-radius: 50%;
}

.nickname {
  color: #6c5d53;
  font-size: 20px;
  padding: 6px 0;
  font-family: "IM_Hyemin-Bold";
}

.date {
  color: #6c5d53;
  font-size: 11px;
  padding: 5px 0;
}

.content-placeholder {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* 중앙정렬 */
  position: relative;
  width: 70%;
  box-sizing: border-box;
  /* background-color: gray; */
}

.JUJU {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100px;
  font-family: "Inspiration", cursive;
  color: #d79999;
  font-size: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container {
  width: 10%;
}

.content_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.left_container1 > img {
  align-content: center;
  justify-content: center;
  width: 10px;
}

.setting-icon-div {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
}

.profile-info {
  width: 80%;
  margin: auto;
  border: 3px solid #6c5d53;
  box-shadow: 3px 3px #d79999;
  border-radius: 5%;
}

#profile-img {
  width: 80%;
  height: 70%;
}
