.mypage {
  /* background-color: #fff3ee; */
  background-color: #d9ebfc;

  width: 100%;
  height: 100%;
}

.mypage-table {
  /* border: 2px solid #76819e; */
  border-radius: 10px;
  width: 40%;
  /* height: 10%; */
  margin: auto;
  /* box-shadow: 40px 30px #aab697a7; */
  box-shadow: 7px 7px#8aa6c5;
}

/* .home-button {
  background-color: #b8c9aa93;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Ownglyph_UNZ-Rg";
  font-size: 25px;
  margin-top: 80px;
  box-shadow: 5px 5px 5px #969b92;
  transition-duration: 0.6s;
} */

/* .home-button:hover {
  background-color: #90ad7cb4;
}

.home-button:active {
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: none;
} */

#mypage-top {
  margin-bottom: 2%;
  height: 10%;
  background-color: #a4c6eb;
  align-items: center;
  display: flex;
  width: 100%;
}
.mypage-top-left {
  height: 100%;
  background-color: #a4c6eb;
  display: flex;
  width: 50%;
  justify-items: center;
}

.mypage-top-right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  font-family: "Ownglyph_UNZ-Rg";
  font-size: 25px;
  color: #fff0ea;
}

.mypage-top-left-button:hover {
  color: navy;
}
.mypage-th {
  width: 20%;
  padding: 0px;
  background-color: #f3faff;
  /* font-family: "Ownglyph_ryuttung-Rg"; */
  font-family: "Ownglyph_ryurue-Rg";
  font-size: 25px;
  font-weight: 300;
  color: rgba(125, 109, 109, 0.857);
  border: 2px solid #76819e;
  border-radius: 10px;
}

.mypage-div {
  width: 100%;
  border-radius: 3px;
  padding: 2%;
  background-color: #afd6f8;
  border: 2px solid #76819e;
  border-radius: 10px;
}

.mypage-top-left button {
  width: 100%;
  height: 100%;
  /* border-radius: 30px; */
  border: none;
  font-size: 40px;
  color: #fff0ea;
  display: flex;
  padding: 6px;
  background-color: transparent;
  font-family: "Cafe24Meongi-W-v1.0";
  align-items: center;
  cursor: pointer;
}

.mypage-top-left:hover {
  color: #76819e;
}

/* .mypage-top-right-logo {
  text-align: ;
} */

mypage-div-div {
  display: flex;
  width: 100%;
}
