/* input[type="text"] {
  padding: 10px;
  font-size: 20px;
  font-size: 20px;
  width: 400px;
  height: 40px;
  margin: 3%;
  padding: 0%;
} */

#nickname-button {
  width: 15%;
  height: 30%;
  border-radius: 10px;
  font-size: 20px;
  margin: 0px;
  padding: 6px;
  border: 2px solid #19456996;
  color: white;
  background-color: #19456996;
  margin-left: 80%;
  margin-bottom: 1%;
  /* font-family: "Ownglyph_UNZ-Rg"; */
  /* font-family: "Ownglyph_ryuttung-Rg"; */
  font-family: "Ownglyph_ryurue-Rg";

  cursor: pointer;
  &:hover {
    background: #b3907aa6;
    color: #fff;
  }
}

/* input[type="text"]  */
.nickname-input {
  font-size: 20px;
  width: 85%;
  /* height: 30%; */
  margin: 3%;
  padding: 2%;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: white;
  /* font-family: "Ownglyph_UNZ-Rg"; */
  /* font-family: "Ownglyph_ryuttung-Rg"; */
  font-family: "Ownglyph_ryurue-Rg";
  border: 3px solid #dbd2cf;
}
