.setting-icon {
  width: 100%;
  height: 100%;
}

.setting-icon-button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  font-family: "IM_Hyemin-Bold";
  /* text-align: left; */
  display: flex;
  flex-direction: row;
}

.setting-icon-img {
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

#setting-font {
  font-size: 20px;
  width: 60%;
  text-align: left;
  opacity: 0.6;
}
