.account-wrapper {
  display: flex; /* Flexbox 사용 */
  width: 100%;
  height: 100%;
  overflow: hidden; /* 넘치는 내용을 숨깁니다 */
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 중앙 정렬 */
  background-color: #eaeee0;
}

.Accounttt {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #dfd8ab;
  align-items: center;
  margin-bottom: 20px;
}

.Accounttt2 {
  width: 50%;
  text-align: left;
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
  text-shadow: 5px 5px #fbefe3;
}

.Accounttt2 button:hover {
  color: white;
}

.Accounttt3 {
  width: 50%;
  text-align: right;
  margin-right: 30px;
  font-family: "Ownglyph_UNZ-Rg";
  font-size: 23px;
}

.Accounttt2 {
  width: 50%;
  text-align: left;
  margin-left: 30px;
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 25px;
}

.title-mom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 50px;
  margin-bottom: 2%;
  color: #533c2b;
  text-shadow: 3px 3px white;
}

#frog {
  font-size: 30px;
}

#account-form {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 3%;
  width: 100%;
  height: 83%;
  max-width: 550px; /* 최대 너비 설정 */
  background-color: #eee6b6;
  font-size: 17px;
  box-shadow: 7px 7px #c0b88b;
  border-radius: 10px;
  justify-content: center;
  overflow: auto;
}

.account1,
.account2,
.account3,
.account4,
.account5,
.account6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-end; /* 오른쪽 정렬 */
  margin-bottom: 20px;
}

.input-name,
.input-nickname,
.input-email,
.input-password,
.input-check-password,
.input-birthday {
  width: 80%; /* 너비를 80%로 설정 */
  height: 30px; /* 높이 증가 */
  border-radius: 50px;
  background-color: white;
  font-size: 20px;
  padding: 5px;
  font-family: "Ownglyph_ryuttung-Rg";
  padding-left: 3%;
  border: 3px solid #b5a28a;
  text-align: left; /* 입력 내용 왼쪽 정렬 */
  margin-right: 20px;
  margin-bottom: 20px;
}

.emailcode {
  border-radius: 50px;
  height: 45px;
  font-size: 15px;
  padding: 9px;
  font-family: "Ownglyph_ryuttung-Rg";
  border: none;
  background-color: #ddd180;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  right: 38px;
  top: 0;
  bottom: 0;
}

.Account_button {
  width: 50%;
  text-align: left;
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 50px;
  border: none;
  background-color: #dfd8ab;
  color: #7e7464;
  cursor: pointer;
}

.emailcode:hover {
  transition-duration: 0.7s;
  background-color: #ddd180;
}

#signup {
  border-radius: 50px;
  margin: 0 auto;
  font-size: 20px;
  padding: 3px;
  background-color: #fbda91;
  font-family: "Ownglyph_ryuttung-Rg";
  border: 3px solid #b5a28a;
  margin-top: 5%;
  cursor: pointer;
}

#signup:hover {
  background-color: #fbc246;
  transition-duration: 0.7s;
  box-shadow: 5px 5px #81714dd5;
}

/* p 태그 왼쪽 정렬 */
.account1 p,
.account2 p,
.account3 p,
.account4 p,
.account5 p,
.account6 p {
  margin: 0;
  font-family: "Ownglyph_ryurue-Rg";
  font-size: 20px;
  text-align: left; /* 왼쪽 정렬 */
  flex: 1;
  margin-left: 10%;
}

/* 오류 메시지 스타일링 */
.Accountsmall {
  color: red;
  font-size: 14px; /* 작은 글씨 크기 */
  display: block;
  margin-top: 0;
  margin-right: 5px;
}

.input-mom {
  width: 70%;
  justify-items: end;
}

.button-mom {
  position: relative;
}

#signup {
  width: 20%; /* 너비를 90%로 설정하여 부모 컨테이너에 맞추기 */
  height: 50px; /* 버튼 높이 증가 */
  font-size: 22px; /* 글자 크기 증가 */
  padding: 0 20px; /* 좌우 패딩 증가 */
  border-radius: 50px; /* 둥근 모서리 */
  background-color: #fbda91;
  font-family: "Ownglyph_ryuttung-Rg";
  border: 2px solid #b5a28a; /* 테두리 두께 감소 */
  margin-top: 5%;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}
/* 인증번호 입력창의 부모 컨테이너 */
.verification-input-wrapper {
  width: 69%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 좌우 정렬 */
  box-sizing: border-box;
  position: relative;
  margin-right: 5px;
}

/* 인증번호 입력 필드 스타일 */
.verification-input-wrapper input {
  width: 80%; /* 입력 필드 너비 조정 */
  height: 40px; /* 입력 필드 높이 조정 */
  border-radius: 50px; /* 둥근 모서리 */
  background-color: white; /* 배경색 */
  font-size: 18px; /* 글자 크기 */
  padding: 0 15px; /* 좌우 패딩 */
  font-family: "Ownglyph_ryuttung-Rg"; /* 폰트 설정 */
  border: 2px solid #b5a28a; /* 테두리 색상 */
  text-align: left; /* 입력 내용 가로 중앙 정렬 */
  justify-content: flex-end;
  margin-right: 10px; /* 입력 필드와 버튼 사이 여백 */
  margin-left: 4%;
  margin-bottom: 10px;
}

/* 인증 코드 확인 버튼 스타일 */
.verification-input-wrapper button {
  position: absolute;
  height: 40px; /* 버튼 높이 조정 */
  font-size: 18px; /* 글자 크기 */
  padding: 0 20px; /* 좌우 패딩 */
  border-radius: 50px; /* 둥근 모서리 */
  background-color: #fbda91; /* 배경색 */
  color: black; /* 글자색 */
  border: 2px solid #b5a28a; /* 테두리 색상 */
  cursor: pointer; /* 커서 스타일 */
  font-family: "Ownglyph_ryuttung-Rg"; /* 폰트 설정 */
  transition: background-color 0.3s, box-shadow 0.3s; /* 부드러운 색상 변경 효과 */
  margin-bottom: 10px;
  right: 0; /* 버튼을 부모 컨테이너의 오른쪽 끝에 위치시킴 */
  margin-right: 7%;
}

.verification-input-wrapper button:hover {
  background-color: #fbc246; /* 버튼 hover 시 배경색 */
  box-shadow: 3px 3px #81714dd5; /* 버튼 hover 시 그림자 */
}

.verification-input-wrapper button:disabled {
  background-color: #ddd; /* 비활성화 시 배경색 */
  border-color: #aaa; /* 비활성화 시 테두리 색상 */
  cursor: not-allowed; /* 비활성화 시 커서 */
}
.account_name {
  display: flex;
  font-family: "Ownglyph_ryurue-Rg";
  margin-left: 15%;
  font-size: 20px;
  text-align: right; /* 텍스트 오른쪽 정렬 */
  flex: 1; /* 이름 텍스트를 오른쪽 끝으로 */
}

.verification-input-wrapper p {
  font-family: "Ownglyph_ryurue-Rg";
  font-size: 18px;
  margin: 0; /* 여백 제거 */
  margin-right: 10px; /* 입력 필드와의 간격 */
}
