.account-wrapper {
  display: flex; /* Flexbox 사용 */
  width: 100%;
  height: 100%;
  overflow: hidden; /* 넘치는 내용을 숨깁니다 */
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 중앙 정렬 */
  background-color: #f1d1d26e;
}

.Accounttt {
  display: flex;
  width: 100%;
  height: 7%;
  background-color: #ecb9b9;
  align-items: center;
  /* box-shadow: white 1px 1px 1px 3px; */
  margin-bottom: 20px;
}

.Accounttt2 {
  width: 50%;
  text-align: left;
  margin-left: 30px;
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 25px;
}
.Accounttt2 button {
  width: 50%;
  text-align: left;
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 25px;
  border: none;
  background-color: #ecb9b9;
  cursor: pointer;
}
.Accounttt2 button:hover {
  color: white;
}

.Accounttt3 {
  width: 50%;
  text-align: right;
  margin-right: 30px;
  font-family: "Ownglyph_UNZ-Rg";
  font-size: 23px;
  font-weight: 200px;
}

#account-form {
  width: 100%;
  height: 88%;
  max-width: 500px; /* 최대 너비 설정 */
  background-color: #f1e4ac48;
  font-family: "Ownglyph_UNZ-Rg";
  font-size: 17px;
  box-shadow: 7px 7px rgba(146, 103, 11, 0.158);
  /* box-shadow: 10px 10px; */
  border-radius: 10px;
  overflow-y: scroll;
}

#account-mom {
  width: 100%;
}

.account-mom > h2 {
  font-size: 30px;
  font-family: "Ownglyph_UNZ-Rg";
  font-weight: 400;
  font-style: normal;
  color: #d79999;
  text-align: center;
}

/* 입력 요소의 기본 스타일 */
.account1 > input,
.account2 > input,
.account3 > input,
.account4 > input,
.account5 > input {
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  height: 50px; /* 고정 높이 */
  border-radius: 15px;
  min-width: 200px; /* 최소 너비 설정 */
  max-width: 400px; /* 최대 너비 설정 */
  border: 3px solid #9b89727e;
  background-color: #fdf8f0;
}

/* 각 account의 높이 설정 */
.account1,
.account2,
.account3,
.account4,
.account5,
.account6,
.account7 {
  width: 100%; /* 너비를 100%로 설정 */
  margin-bottom: 15px; /* 항목 간 간격 추가 */
}

.account7 > input {
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  max-width: 400px; /* 최대 너비 설정 */
  height: 40px; /* 고정 높이 */
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 15px; /* 항목 간 간격 추가 */
  border-radius: 15px;
  background-color: #ccd3ca;
}

.account_name {
  text-align: left;
  margin-left: 12%;
}

.account6 > input[type="date"] {
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  height: 50px; /* 고정 높이 */
  border-radius: 15px;
  min-width: 200px; /* 최소 너비 설정 */
  max-width: 400px; /* 최대 너비 설정 */
  border: 3px solid #9b89727e;
  background-color: #fdf8f0;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 16px;
  background-position: right 10px center;
}

#Create_Id {
  cursor: pointer;
  font-size: 15px;
  color: white;
  font-family: "Ownglyph_UNZ-Rg";
  font-size: 20px;
}

.Accountsmall {
  display: block;
  color: red; /* 에러 메시지를 빨간색으로 표시, 원하는 색상으로 변경 가능 */
  margin-top: 5px; /* 여백을 추가하여 좀 더 보기 좋게 만듭니다 */
  font-size: 18px;
}

#account-form ::-webkit-scrollbar {
  width: 10px;
}

#account-form ::-webkit-scrollbar-track {
  background: rgba(220, 20, 60, 0.1); /*스크롤바 뒷 배경 색상*/
}
#account-form {
  overflow: auto; /* 스크롤바가 나타나도록 설정 */
}

#account-form ::-webkit-scrollbar-thumb {
  background: rgba(220, 20, 60); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
