.login_modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.login_modal_close_button {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  /* margin-bottom: auto; */
}
.login_modal_close_button img {
  width: 2rem;
  margin: 20px 20px 0 0;
  cursor: pointer;
}

.login_modal_contents {
  position: relative;
  width: 40rem;
  height: 40rem;
  max-width: 640px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_kakao_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  margin-bottom: 3rem;
  margin-top: 20px;
}

.login_kakao_button img {
  width: 28rem;
  max-width: 100%;
  cursor: pointer;
}

.login_contents_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.login_contents_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 19rem;
  padding-top: 20px;
  background-image: url("../../assets/imgs/loginbackground.png");
  background-size: 130% 120%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login_contents_img img {
  width: 12rem;
  height: 12rem;
  max-width: 100%;
}

.login_title {
  font-family: "Cafe24Meongi-W-v1.0";
  font-size: 3.5rem;
  color: #000000;
  margin: 3rem 0 0 0;
  text-shadow: 2px 2px #adadad;
}

.login_title p {
  margin: 0 0 5px 0;
}

.login_contents_sententce {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_contents_sententce span {
  font-family: "IM_Hyemin-Bold";
  font-size: 1.3rem;
  color: #000000;
}

.login_contents_sententce p {
  margin: 0 0 5px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
